
<h1>Holllaaaa</h1>
<ul>
  <% @calendar_list.items.each do |calendar| %>
    <li><%= calendar.summary %> (<%= calendar.id %>)</li>

    <%= form_tag new_calendar_url(calendar.id) do %>
  <%= submit_tag 'Add event' %>
<% end %>
  <% end %>
</ul>
