
<h1>Administrator</h1>
	
<div class="container">
	
	<h3>Info Data</h3>

	<table class="table table-bordered table-striped">
    	<thead>
			<%= render 'top' %>
		</thead>
			<%= render 'info' %>
		</table>
</div>