
<footer class="footer">
  <small>
    "The Drug Station" </a>
    by <a href="https://github.com/XochitlX/">Xóchitl Tufiño</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>

