
<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">

    <nav> 
        <ul class="nav navbar-nav navbar-left">
            <li><img id="logo_fig" src="/assets/clock.png" width="40" height="40" /></li>
            <li><%= link_to "The Drug Station", '#', id: "logo" %></li>
        </ul>
    </nav>

    <nav>
        <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   '#' %></li>
            <li><%= link_to "Log in", '#' %></li>
        </ul>
    </nav>
    </div>
</header>

